<ion-view title="Consulta de Preços" id="page6" style="background-color:#5B2E90;" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h3 id="consultaDePreOs-heading5" style="color:#F8F8F8;font-weight:400;text-align:center;" class=" ">Leitura de código de barras</h3>
        <a role="button" class="button button-energized  button-block" ng-click="takeSelfie()">Usar a Câmera</a>
        <a ui-sref="tabsController.consultaManual" id="consultaDePreOs-button4" style="font-weight:500;border-radius:5px 5px 5px 5px;" class=" button button-calm  button-block ">Digitar</a>
        <!--<a ui-sref="tabsController.produto({ barcode: 78960023020128 })" class="button button-calm  button-block ">Bolinho Ana Maria</a>-->
    </ion-content>
</ion-view>