<ion-view title="Consulta de Preços" id="page6" style="background-color:#5B2E90;" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h3 id="consultaDePreOs-heading5" style="color:#F8F8F8;font-weight:400;text-align:center;" class=" ">Direcione a câmera para o código de barras</h3>
        <div class="">
            <a style="display:block;" ui-sref="tabsController.produto">
                <img src="img/nhkd5i4SMOQmpYh6pTW0_scan-barcode.jpg" width="auto" height="160" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <a ui-sref="tabsController.consultaManual" id="consultaDePreOs-button4" style="font-weight:500;border-radius:5px 5px 5px 5px;" class=" button button-energized  button-block ">Digitar</a>
    </ion-content>
</ion-view>