<ion-view title="Consulta Manual" id="page2" style="background-color:#5B2E90;" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <form id="consultaManual-form3" class="list ">
            <label class="item item-input " id="consultaManual-input1" name="barcode">
                <input type="number" placeholder="Código de Barras">
            </label>
        </form>
        <a ui-sref="tabsController.produto" id="consultaManual-button3" style="font-weight:500;border-radius:4px 4px 4px 4px;" class=" button button-energized  button-block ">Consultar</a>
    </ion-content>
</ion-view>