<ion-view title="Guia de Seções" id="page4" class=" bg-color-three">
    <ion-content padding="true" class="has-header">
        <ion-list id="guiaDeSeEs-list2" class=" ">
            <ion-item id="guiaDeSeEs-list-item14" class="  bg-color-one color-white">HORTI FRUTI</ion-item>
            <ion-item id="guiaDeSeEs-list-item15" class="  bg-color-one color-white">CARNES</ion-item>
            <ion-item id="guiaDeSeEs-list-item16" class="  bg-color-one color-white">PADARIA</ion-item>
            <ion-item id="guiaDeSeEs-list-item17" class="  bg-color-one color-white">HIGIENE</ion-item>
            <ion-item id="guiaDeSeEs-list-item18" class="  bg-color-one color-white">PRODUTOS DE LIMPEZA</ion-item>
            <ion-item id="guiaDeSeEs-list-item19" class="  bg-color-one color-white">BEBIDAS</ion-item>
            <ion-item id="guiaDeSeEs-list-item11" class="  bg-color-one color-white">UTILIDADES</ion-item>
        </ion-list>
    </ion-content>
</ion-view>