<ion-view title="Produto" id="page5" style="background-color:#5B2E90;" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h3 id="produto-heading2" style="color:#F8F8F8;text-align:center;" class=" ">NESCAFE EXT FORTE 100G</h3>
        <h1 id="produto-heading3" style="color:#F8F8F8;font-weight:600;text-align:center;" class=" ">R$ 9,50</h1>
        <a ui-sref="tabsController.consultaDePreOs" id="produto-button2" style="font-weight:500;border-radius:4px 4px 4px 4px;" class=" button button-energized  button-block ">Nova Consulta</a>
    </ion-content>
</ion-view>