<ion-view title="Produto" id="page5" style="background-color:#5B2E90;" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h3 id="produto-heading2" style="color:#F8F8F8;text-align:center;" class=" ">
        	{{ prod.desc }}
        </h3>
        <h3 id="produto-heading-barcode" style="color:#F8F8F8;text-align:center;" class=" " ng-bind="barcode">
        	{{ prod.barcode }}
        </h3>
        <h1 id="produto-heading3" style="color:#F8F8F8;font-weight:600;text-align:center;" class=" ">
        	{{ prod.currency }} {{ prod.price }}
        </h1>
        <a ui-sref="tabsController.consultaDePreOs" id="produto-button2" style="font-weight:500;border-radius:4px 4px 4px 4px;" class=" button button-energized  button-block ">
        	Nova Consulta
        </a>
    </ion-content>
</ion-view>