<ion-view title="Promoções" id="page3" class=" bg-color-one">
    <ion-content padding="true" class="has-header">
        <ion-list id="promoEs-list1" class=" ">
            <ion-item class="item-divider bg-color-one color-white" id="promoEs-list-item-divider2">BEBIDAS</ion-item>
            <ion-item class="item-thumbnail-left positive  " id="promoEs-list-item7">
                <img src="img/G22NUKMCTceXJLXPPcY9_illy.jpg">
                <h2positive>CAFE ILLY GRAO EXP 250G
                    <p>14,90</p>
                </h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive  " id="promoEs-list-item12">
                <img src="img/GzsmlCaQQzamkRxkOVP2_hb.jpg">
                <h2positive>CERVEJA HB LAGER 500ML
                    <p>9,90</p>
                </h2positive>
            </ion-item>
            <ion-item class="item-divider bg-color-one color-white" id="promoEs-list-item-divider3">FRIOS</ion-item>
            <ion-item class="item-thumbnail-left positive  " id="promoEs-list-item9">
                <img src="img/uk3AVF6fRMyU6Ibvx2rq_provolone.jpg">
                <h2positive>QUEIJO PROVOLONE QUATA 1KG
                    <p>R$ 29,90</p>
                </h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive  " id="promoEs-list-item13">
                <img src="img/SnWoYy81Tx6B1RgH6r3B_salame.jpg">
                <h2positive>SALAME SADIA 1KG
                    <p>R$ 39,90</p>
                </h2positive>
            </ion-item>
            <ion-item class="item-divider bg-color-one color-white" id="promoEs-list-item-divider4">HIGIENE</ion-item>
            <ion-item class="item-thumbnail-left positive  " id="promoEs-list-item20">
                <img src="img/n8NVlUfGRJeYs0Bje6Il_dove.jpg">
                <h2positive>SABONETE DOVE BARRA 90G
                    <p>R$ 1,90</p>
                </h2positive>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>